#contact {
	background-color: $heroColor;
	height: 100%;
	.wrapper {
		text-align: center;
	}
}

.smallLogo {
	margin: 3rem 0;
	&::before, &::after {
		top: 35%;
	}
	&::before {
		left: -0.55rem;
	}
	&::after {
		right: -0.55rem;
	}
}

.socialLinks {
	font-size: 2rem;
	text-align: center;
	margin-top: 2rem;
	a {
		color: $gold;
		&:hover {
			color: $white;
		}
		&:last-of-type i {
			padding-right: 0;
		}
		i {
			padding-right: 1rem;
		}
	}
}

@media (max-width: 768px) {
	.smallLogo {
		margin: 1.5rem 0;
	}
	#contact h2 {
		font-size: 1rem;
		margin: 1rem 0;
	}
	.credit {
		font-size: 1rem;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.credit {
		font-size: 0.75rem;
	}
}
