// COLORS
$heroColor: #434343;
$white: #ffffff;
$black: #333333;
$gold: #ae9364;
$darkGrey: #707070;
$background: #F8FAFC;
$darkBlue: #34495E;
$lightBlue: rgba(133, 146, 158,0.75);
$fadedWhite: rgba(133, 146, 158,0.65);
$overlay: rgba(110, 131, 151, 0.25);

// FONT STACKS
$serif: 'Radley', serif;
$sansSerif: 'Montserrat', sans-serif;